:root{
    font-size: 16px;
    --primaryColor: #243D31;
    --secundaryColor: #31543B;
    --textDark: #101010;
    --textMuted: #757B8A;
    --textMutedLight: #E6E9ED;
    --textLight: #fff;
    --highlightedText: #24AA4A;
    --highlighted: #E7FFD8;
}

@font-face{
    font-family: 'DM Sans';
    src: url(fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face{
    font-family: 'Inter';
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face{
    font-family: 'Plus Jakarta Sans';
    src: url(fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter';
    color: var(--textDark);
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    font-family: 'DM Sans';
    font-weight: 700;
}

h3{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 120%;
}

h4{
    font-weight: 700;
    line-height: 120%;
}

p{
    font-weight: 500;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

#menuDesktop{
    display: none;
}

#login{
    display: none;
}

.container{
    width: 89.33%; /*corrigir*/
    max-width: 1200px;
    margin: 0 auto;
}

#header{
    width: 100%;
    margin-top: 0.75rem;
}

.headerInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: clamp(7.5rem, 10vw, 8.75rem);
    max-width: 140px;
}

#menuMobile{
    width: 24px;
}

#heroText{
    text-align: center;
    margin: 0 auto;
}

#heroText h1{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: clamp(2.25rem, 5vw, 4rem);
    margin-top: 2.464375rem;
    line-height: 120%;
    letter-spacing: -1px;
}

#heroText p{
    color: var(--textMuted);
    margin-top: 1.25rem;
    margin-bottom: 0.875rem;
    line-height: 160%;
}

#trial{
    display: flex;
    flex-direction: column;
}

#trial input{
    max-width: 371px;
    height: 60px;
    border-radius: 60px;
    border: 0;
    background: #F3F4F8;
    width: clamp(330px, 55vw, 371px);
    margin: 0 auto;
    margin-bottom: 1rem;
}

#trial input::placeholder{
   padding-left: 26px; 
   font-family: 'Inter';
   font-weight: 400;
   font-size: 1rem;
}

#trial a{
    max-width: 240px;
    color: var(--textLight);
    background: var(--primaryColor);
    border-radius: 60px;
    margin: auto;
    padding: 1.25rem 1.90625rem;
    font-weight: 700;
}

#heroImg{
    margin: 0 4px;
    margin-top: 2.5rem;
    margin-bottom: 3.2325rem;
    max-width: 1020px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.highlightedText{
    color: #24AA4A;
    background: #E7FFD8;
    display: inline-block;
    border-radius: 20px;
    padding: 0 16px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    height: 32px;
    align-content: center;
}

#productOverview{
    background: var(--primaryColor);
    color: var(--textLight);
    padding-top: 3.9375rem;
    padding-bottom: 5.0625rem;
}

#poText h2{
    font-size: clamp(2.5rem, 4.5vw, 3.75rem);
    letter-spacing: -3%;
    margin-top: 1rem;
    width: 60%;
}

#poText p{
    color: var(--textMutedLight);
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 150%;
    margin-top: 1rem;
}

#poStats{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    margin-right: 1.5rem;
}

#poStats-div{
    display: flex;
}

#poStats span{
    display: none;
}

#poStats h2{
    letter-spacing: -4%;
    font-size: clamp(2rem, 5.6vw, 5rem);
}

#poStats h5{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: clamp(0.875rem, 1.5vw, 1.125rem);
}

#logosSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 19px 24px;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    margin-top: 3.5rem;
    margin-bottom: 8.375rem;
}

.logoOff{
    display: none;
}

.logoCard{
    margin: 0 auto;
    display: flex;
    width: 170px;
    height: 96px;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 10.1px 20px rgba(0, 0, 0, 0.06);
}

#teamImg{
    display: flex;
    margin: 0 auto;
    position: relative;
    margin-bottom: 4.125rem;
    max-width: 584px;
}

#teamImg-overlay{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 17px 20px;
    gap: 1.5rem;
    background: #fff;

    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

#teamIcons{
    display: flex;
    align-items: center;
    padding-left: 22px;
}

#teamIcons img{
    object-fit: cover;
    margin-left: -23.5px;
    width: clamp(50px, 5vw, 54px);
    min-width: 50px;
    border-radius: 100%;
}

#teamImg-overlayText h5{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 150%;
}

#teamImg-overlayText p{
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    color: var(--textMuted);
    line-height: 160%;
    white-space: nowrap;
}

#teamText h3{
    margin-top: 1.5rem;
}

#teamText p{
    font-size: 1.125rem;
    line-height: 140%;
    margin-top: 1.5rem;
}

#teamText p:last-child{
    color: var(--textMuted);
    margin-bottom: 7.1875rem;
    font-size: 1rem;
    line-height: 160%;
    width: 95%;
}

#analisysText h3{
    margin-top: 1rem;
}

#analisysText p{
    line-height: 160%;
    color: var(--textMuted);
    margin-top: 1rem;
    margin-bottom: 2.125rem;
}

.analisysCard{
    position: relative;
}

.imageWrapper{
    position: relative;
    width: clamp(327px,40vw, 560px);
    max-width: 560px;
    margin: 0 auto;
}

.analisysOverlay{
    position: absolute;
    width: clamp(180px,  25vw, 322px);
    bottom: 4%;
    left: 68.5%;
    transform: translateX(-50%);
    max-width: 95%;
}

.subir{
    bottom: 2.5%;
}

#analisysOverlay-inflow{
    position: absolute;
    top: 0%;
    left: 0%;
    width: clamp(170px, 10vw, 319px);
    justify-content: space-between;
    
    background: #fff;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

#analisysOverlay-inflow img{
    width: clamp(17px, 4vw, 42px) !important;
    margin: 0;
}

#analisysOverlayImg{
    min-width: 17px;
}

#analisysOverlay-inflow p{
    font-weight: 700;
    font-size: clamp(7px, 1vw, 10px);
    margin-left: 5px;
    margin-right: 10px;
    white-space: nowrap;
}

#inflow {
    font-size: clamp(7px, 1.5vw, 1rem) !important;
}

.analisysCard h4{
    font-family: 'DM Sans';
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin-top: 1rem;
}

.learnMore{
    display: inline-flex;
    align-items: center;
    border-radius: 60px;
    border: 1px solid var(--textMutedLight);
    padding: 15px 25px;
    margin-top: 1.5rem;
    margin-bottom: 2.125rem;
}

.learnMore a{
    font-family: 'Inter';
    font-weight: 700;
    line-height: 150%;
    color: var(--secundaryColor);
}

.learnMore img{
    width: 16px;
    height: 16px;
    margin-left: 1.125rem; 
}

#graphicsText{
    margin-left: 10px;
}

#graphicsText h3{
    letter-spacing: -1px;
    width: 93.3%;
    margin-top: 6.625rem;
}

#graphicsText p{
    line-height: 160%;
    color: var(--textMuted);
    margin-top: 1.5rem;
}

#graphicsImg{
    position: relative;
    margin-top: 6.25rem;
}

#graphicsImg-outflow{
    position: relative;
}

#graphicsGraphic{
    width: 70%;
    max-width: 687px;
    position: relative;
    bottom: 20px;
    left: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

#graphicsSales{
    width: 25%;
    max-width: 268px;
    position: absolute;
    right: 0.5%;
    bottom: 0;
    z-index: 1;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

#graphicsImg-overlay{
    width: 35%;
    max-width: 394px;
    position: absolute;
    bottom: 7%;
    left: 45%;
    z-index: 2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.graphicsImg-outflow-overlay{
    position: absolute;
    top: 20%;
    left: -5%;

    background: #fff;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    padding: 5px 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.graphicsImg-outflow-overlay img{
    width: 17px;
}

.graphicsImg-outflow-overlay p{
    font-weight: 700;
    font-size: clamp(7px, 1vw, 16px);
    margin-left: 5px;
    margin-right: 10px;
}

.price p{
    color: var(--textMuted);
    font-size: 8px;
    font-weight: 400;
    text-align: end;
    margin: 0;
}

.price b{
    color: #101010;
    font-size: clamp(10px, 1.7vw, 24px);
}

.percent{
    display: flex;
}

#percentImg{
    max-width: clamp(10px, 1.5vw, 15px);
    margin-right: 3px;
}

.percent p{
    font-weight: 400;
    font-size: 6px;
    letter-spacing: -0.5px;
    margin: 0;
    color: var(--textMuted);
}

#cocaSoft{
    background: var(--primaryColor);
    color: #fff;
    padding-bottom: 4.5rem;
}

#cocaSoftText{
    margin: 0 8px;
}

#cocaSoftText h3{
    font-family: 'Plus Jakarta Sans';
    padding-top: 5.25rem;
}

#cocaSoftText p{
    color: #D6D6D6;
    margin-top: 1.5rem;
    margin-bottom: 2.25rem;
    line-height: 160%;
}

.cocaSoftCards{
    position: relative;
    width: clamp(327px, 30vw, 379px);
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.cocaSoftCards img{
    display: block;
}

.cocaSoftCards-overlay{
    display: flex;
    background: #fff;
    color: var(--textDark);
    border-radius: 12px;
    height: 92px;
    width: clamp(297px, 25vw, 332px);
    align-items: center;  

    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translate(-50%);
}

.cocaSoftCards-overlay p{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 140%;
    padding-inline-start: 1.5625rem;
    padding-inline-end: 0.5; 
}

#reviewsFooter{
    margin: 0 4px;
}

#reviewsHeader{
    margin: 0 10px;
}

#reviewsHeader h3{
    margin-top: 3.9375rem;
}

#reviewsHeader p{
    color: var(--textMuted);
    margin-top: 1.5rem;
    line-height: 160%;
}

#reviewsReport{
    margin: 0 4px;
}

#reviewsReport img{
    width: clamp(327px, 35vw, 453px);
    
    margin: 0 auto;
    margin-top: 2.5rem;
}

#reviewsReportText img{
    width: clamp(39px, 5vw, 51px);
    margin: 0;
    margin-top: 1.5rem;
}

#reviewsReportText h4{
    font-family: 'Inter';
    font-size: clamp(1.125rem, 1.8vw, 1.5rem);
    margin-top: clamp(0.9375rem, 4vh, 2rem);
    width: 95%;
}

#reviewsReportText h4:nth-child(3){
    margin-top: clamp(2rem, 3vh, 2.25rem);
}

#reviewsReportText h4:last-of-type{
    font-size: 1.125rem;
}

#reviewsReportText p{
    color: var(--textMuted);
    font-weight: 400;
    line-height: 24px;
    margin-top: 7px;
}

#reviewsReportText img:last-child{
    margin-top: 2.875rem;
    width: 84px;
}

#reviewsFooterText h3{
    font-size: clamp(2.25rem 1vw, 2.5rem);
    letter-spacing: -1px;
    width: 95%;
    margin-top: 6.5rem;
}

#reviewsFooterText p{
    color: var(--textMuted);
    line-height: 160%;
    margin-top: 1.5rem;
}

#reviewsFooterStars{
    display: flex;
    gap: 2.5rem;
    margin-top: 1.625rem;
}

#reviewsFooterStars hr{
    border: 1px solid #ededed;
}

.starsCard img{
    width: 116px;
    margin: 0.4375rem 0;
}

.starsCard p{
    font-size: 0.875rem;
    line-height: 150%;
    color: var(--textMuted);
}

#footerLogo{
    display: flex;
    flex-direction: column;
    margin-top: 7.875rem;
    align-items: center;
}

#footerLogo img{
    width: 60px;
    height: 60px;
}

#hrFooter{
    display: none;
}

#getStarted p{
    margin-top: 1.5rem;
    line-height: 160%;
}

#getStarted a{
    background: var(--secundaryColor);
    color: #fff;
    display: block;
    border-radius: 8px;
    padding: 12px 42px;
    margin-top: 0.75rem;

    font-family: 'Inter';
    font-weight: 700;
    line-height: 150%;
}

#newsletter{
    margin: 0 4px;
    width: 100%;
}

#newsletter h6{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    margin-top: 5.1875rem;
    width: 60%;
}

#newsletterInput{
    display: flex;
    margin-top: 1.875rem;
}

#newsletterInput input{
    border: 0;
    border-bottom: 1px solid var(--textMutedLight);
    width: 100%;
}

#newsletterInput input::placeholder{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    color: var(--textMuted);
}

#newsletterInput a{
    font-family: 'DM Sans';
    font-weight: 600;
    color: #fff;
    background: var(--secundaryColor);
    padding: 15px 22px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#footerMenuLinks{
    display: none;
}

#termsText{
    display: flex;
    margin-top: 4.0625rem;
    gap: 3.4375rem;
}

#termsText p{
    color: #33353E;
    line-height: 160%;
}

#termsSocial{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2.6875rem;
}

@media(min-width: 768px){

    .logoOff{
        display: inline;
        width: 170px;
        margin: 0 auto;
    }

    #logosSection{
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 3.5rem;
        margin-bottom: 8.375rem;
    }

    #reviewsHeader{
        display: flex;
        margin: 0;
        margin-top: 6.75rem;
        align-items: center;
        justify-content: space-between;
    }

    .analisysOverlay{
        bottom: 3.5%;
        left: 65%;
    }

    .subir{
        bottom: 2.5%;
    }

    #reviewsHeader h3{
        margin: 0;
        width: 32%;
    }

    #reviewsHeader p{
        margin: 0;
        width: 37%;
    }

    #reviewsReport, #reviewsFooter{
        margin: 0 56px;
    }

    #reviewsReport{
        margin-top: 7rem;
        display: flex;
        gap: 6.3125rem;
        align-items: center;
    }

    #reviewsReport img{
        margin: 0;
    }

    #reviewsFooter{
        display: flex;
        justify-content: space-between;
        margin-top: 5.75rem;
    }

    #reviewsFooter h3, #reviewsFooterStars{
        margin: 0;
    }

    #reviewsFooterText{
        width: 50%;
    }
}

@media (max-width: 1023px){

    #logosSection .logoCard:nth-child(1),
    #logosSection .logoCard:nth-child(2){
    order: 2;
    }

    #logosSection .logoCard:nth-child(4),
    #logosSection .logoCard:nth-child(5){
        order: 1;
    }
}

@media (min-width: 1024px) and (max-width: 1063px){

    #analisysOverlay-inflow{
        width: 60%;
        min-width: 230px;
        
        border-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 16px 18px;
    }
}

@media (min-width: 1024px) {
    
    #menuMobile{
        display: none;
    }

    #menuDesktop, #menuDesktop ul{
        display: flex;
        gap: 32px;
        color: var(--textMuted);
    }

    #menuDesktop ul li:first-child{
        color: var(--secundaryColor);
        font-weight: 700;
    }

    #login{
        display: block;
        padding: 16px 36px;
        background: var(--secundaryColor);
        color: #fff;
        border-radius: 60px;
        font-weight: 700;
        line-height: 150%;
    }

    #header{
        margin-top: 1.5rem;
    }

    #headerDesktop{
        display: flex;
        align-items: center;
        gap: 65px;
    }

    #heroText h1{
        width: 60%;
        margin: 0 auto;
        margin-top: 5.75rem;
        letter-spacing: -3px;
    }

    #heroText p{
        width: 35%;
        margin: 0 auto;
        margin-top: 1rem;
    }

    #trial{
        flex-direction: row;
        margin: 0 auto;
        margin-top: 3rem;
        width: 630px;
        gap: 19px;
    }

    #trial input{
        margin: 0;
    }
    
    #hero{
        position: relative;
    }

    #heroImg{
        margin: 0 auto;
        position: relative;
        z-index: 2;
        margin-top: 63px;
        margin-bottom: -121px;
    }

    #productOverview{
        position: relative;
        z-index: 1;
        padding: 0 clamp( 100px, 12.5vw, 180px);
        padding-top: 237px;
        padding-bottom: 126px; 
    }

    #poText{
        display: flex;
        gap: 89px;
    }

    #poText h2{
        width: 336px;
    }

    #poText p{
        width: 566px;
        align-self: flex-end;
        margin-bottom: 5px;
    }

    #poStats{
        margin-top: 108px;
    }

    #poStats span{
        display: inline;
    }

    #logosSection{
        display: flex;
        grid-template-rows: 1fr;
        margin-top: 75px;
        margin-bottom: 132px;
        gap: 48px;
        justify-content: center;
    }

    #teamContent{
        display: flex;
        gap: 125px;
        max-height: 453px;
    }

    #teamImg > img{
        height: 453px;
    }

    #teamImg-overlay{
        width: 280px;
        gap: 24px;
        bottom: -28px;
        left: 85%;
        transform: translateX(-50%);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    }

    #div-teamText{
        width: 500px;
        align-self: center;
    }

    #teamText p:last-child{
        margin-bottom: 0;
    }

    #analisys{
        margin-top: 15.125rem;
    }

    #analisysSection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 79px;
        align-items: end;
    }

    #analisysText p{
        margin-bottom: 3.75rem;
    }

    .analisysCard h4{
        margin-top: 38px;
        width: 90%;
    }

    .learnMore{
        margin: 0;
        margin-top: 32px;
    }

    #graphicsText{
        display: flex;
        margin: 0;
        margin-top: 14.0625rem;
        gap: 15.375rem;
    }

    #graphicsText h3{
        margin: 0;
        width: 28%;
    }

    #graphicsText p{
        margin: 0;
        width: 48%;
    }

    #graphicsImg{
        height: 500px;
        margin-top: 3.8125rem;
    }

    #graphicsGraphic{
        bottom: -60px;
        left: 90px;
    }

    #graphicsSales{
        right: 15%;
        bottom: 0;
    }

    #graphicsImg-overlay{
        bottom: 10%;
        left: 38%;
    }

    .graphicsImg-outflow-overlay{
        top: 56%;
        left: 0.5%;
        padding: 18px 17px;
    }

    .graphicsImg-outflow-overlay img{
        width: 42px;
    }

    .graphicsImg-outflow-overlay p{
        margin-left: 1.1875rem;
        margin-right: 2.8125rem;
    }

    .price p{
        font-size: 10px;
        margin: 0 !important;
    }

    .price b{
        margin: 0 !important;
    }

    .percent{
        display: flex;
    }

    .percent img{
        width: 12px !important;
        max-width: 12px;;
        height: 8px !important;
    }

    .percent p{
        font-weight: 400;
        letter-spacing: 0;
        margin: 0 !important;
        margin-left: 5px !important;
        color: var(--textMuted);
    }

    #cocaSoft{
        padding-bottom: 7rem;
    }

    #cocaSoftText{
        display: flex;
        margin: 0;
        padding-top: 7rem;
        align-items: center;
        justify-content: space-between;
    }

    #cocaSoftText h3, #cocaSoftText p{
        padding: 0;
        margin: 0;
        width: 30%;
    }

    #cocaSoftImg{
        display: flex;
        margin-top: 5.4375rem;
    }

    .cocaSoftCards-overlay p{
        width: 80%;
    }

    #footerLogo{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2.5625rem;
    }

    #getStarted{
        display: flex;
        gap: 1.9375rem;
    }

    #hrFooter{
        display: block;
        border: 1px solid #ededed;
    }

    #footerMenu{
        display: flex;
        margin-top: 2.5rem;
        width: 62.875rem;
        justify-content: space-between;
    }

    #newsletter{
        width: 289px;
        margin: 0;
    }

    #newsletter h6{
        margin: 0;
        width: 80%;
    }

    #footerMenuLinks{
        display: flex;
        width: 38.5625rem;
        justify-content: space-between;
    }

    .linksFooter ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .linksFooter li:first-of-type{
        font-weight: 700;
    }

    #terms{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #termsText, #termsSocial{
        margin: 0;
        margin-top: 4.375rem;
        margin-bottom: 6.25rem;
    }

    .analisysOverlay{
        bottom: 3.5%;
        left: 67.7%;
    }

    .subir{
        bottom: 2.5%;
    }

    #analisysOverlay-inflow{
        width: 85%;
        
        border-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 14px 16px;
    }

    #inflow { 
        margin-left: clamp(5px, 0.5vw, 20px) !important;
        margin-right: clamp(10px, 1vw, 30px) !important;
    }
}

@media (min-width: 1024px) and (max-width: 1063px){

    #analisysOverlay-inflow{
        padding: 10px 12px;
    }
}