:root{
    font-size: 16px;
    --primaryColor: #243D31;
    --secundaryColor: #31543B;
    --textDark: #101010;
    --textMuted: #757B8A;
    --textMutedLight: #E6E9ED;
    --textLight: #fff;
    --highlightedText: #24AA4A;
    --highlighted: #E7FFD8;
}

@font-face{
    font-family: 'DM Sans';
    src: url(fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face{
    font-family: 'Inter';
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter';
    color: var(--textDark);
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

#menuDesktop{
    display: none;
}

#login{
    display: none;
}

.container{
    width: 89.33%; /*corrigir*/
    max-width: 1200px;
    margin: 0 auto;
}

#header{
    width: 100%;
    margin-top: calc(1rem - 4px);
}

.headerInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: clamp(7.5rem, 4vw, 8.75rem);
    max-width: 140px;
}

#menuMobile{
    width: 24px;
}

#heroText{
    text-align: center;
    margin: 0 auto;
}

#heroText h1{
    font-size: 2.25rem;
    margin-top: 2.464375rem;
    line-height: 120%;
    letter-spacing: -1px;
}

#heroText p{
    color: var(--textMuted);
    font-size: 1rem;
    margin-top: 1.25rem;
    margin-bottom: 0.875rem;
    line-height: 160%;
}

#trial{
    display: flex;
    flex-direction: column;
}

#trial input{
    max-width: 371px;
    height: 60px;
    border-radius: 60px;
    border: 0;
    background: #F3F4F8;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

#trial input::placeholder{
   padding-left: 26px; 
}

#trial a{
    max-width: 240px;
    color: var(--textLight);
    background: var(--primaryColor);
    border-radius: 60px;
    margin: auto;
    padding: 1.25rem 1.90625rem;
}

#heroImg{
    margin: 0 4px;
    margin-top: 2.5rem;
    margin-bottom: 3.2325rem;
    
}

.highlightedText{
    color: #24AA4A;
    background: #E7FFD8;
    display: inline-block;
    border-radius: 20px;
    padding: 0 16px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    height: 32px;
    align-content: center;
}

#productOverview{
    background: var(--primaryColor);
    color: var(--textLight);
    padding-top: 3.9375rem;
    padding-bottom: 5.0625rem;
}

#poText h2{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -3%;
    margin-top: 1rem;
    width: 60%;
}

#poText p{
    color: var(--textMutedLight);
    font-size: calc(1rem - 2px);
    line-height: 150%;
    margin-top: 1rem;
}

#poStats{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
}

#poStats-div{
    display: flex;
}

#poStats span{
    display: none;
}

#poStats h2{
    font-family: 'DM Sans';
    font-weight: 700;
    letter-spacing: -4%;
    font-size: 2rem;
}

#poStats h5{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: calc(1rem - 2px);
}

#logosSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 19px 24px;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    margin-top: 3.5rem;
    margin-bottom: 8.375rem;
}

.logoOff{
    display: none;
}

.logoCard{
    display: flex;
    width: 170px;
    height: 96px;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 10.1px 20px rgba(0, 0, 0, 0.06);
}

#teamImg{
    margin: 0 4px;
    position: relative;
    margin-bottom: 4.125rem;
}

#teamImg-overlay{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 17px 20px;
    gap: 1.5rem;
    background: #fff;

    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

#teamIcons{
    display: flex;
    align-items: center;
    padding-left: 22px;
}

#teamIcons img{
    object-fit: cover;
    margin-left: -23.5px;
    width: 50px;
    max-width: 54px;
    max-height: 54px;
    border-radius: 100%;
}

#teamImg-overlayText h5{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
}

#teamImg-overlayText p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--textMuted);
    line-height: 160%;
    white-space: nowrap;
}

#teamText h3{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 120%;
    
    margin-top: 1.5rem;
}

#teamText p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.125rem;

    margin-top: 1.5rem;
}

#teamText p:last-child{
    color: var(--textMuted);
    margin-bottom: 7.1875rem;
}

#analisysText h3{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 120%;

    margin-top: 1rem;
}

#analisysText p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    color: var(--textMuted);

    margin-top: 1rem;
    margin-bottom: 2.125rem;
}

.analisysCard{
    position: relative;
}

.analisysCard img:first-child{
    display: block;
    margin: 0 4px;
}

.analisysOverlay{
    position: absolute;
    width: 195px;
    bottom: 200px;
    left: 68%;
    transform: translateX(-50%);
}

.analisysOverlay-subir{
    bottom: 225px
}

.analisysCard h4{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    margin-top: 1rem;
}

.learnMore{
    display: inline-flex;
    align-items: center;
    border-radius: 60px;
    border: 1px solid var(--textMutedLight);
    padding: 15px 25px;
    margin-top: 1.5rem;
    margin-bottom: 2.125rem;
}

.learnMore a{
    font-family: 'Inter';
    font-weight: 700;
    line-height: 150%;
    color: var(--secundaryColor);
}

.learnMore img{
    width: 16px;
    height: 16px;
    margin-left: 1.125rem; 
}

#graphicsText{
    margin-left: 10px;
}

#graphicsText h3{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: -1px;
    width: 93.3%;
    margin-top: 6.625rem;
}

#graphicsText p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    color: var(--textMuted);

    margin-top: 1.5rem;
}

#graphicsImg-outflow-overlay{
    display: inline-flex;
    align-items: center;
    border: 1px solid #101010; /*tirar*/
    border-radius: 8px;
    padding: 12px 12px;
}

#graphicsImg-outflow-overlay img{
    width: 33px;
}

#graphicsImg-outflow-overlay p{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    margin-left: 12px;
    margin-right: 25px;
}

#price p{
    color: var(--textMuted);
    font-size: 10px;
    font-weight: 400;
    text-align: end;
    margin: 0;
}

#price b{
    color: #101010;
    font-size: 1rem;
}

#percent{
    display: flex;
}

#percent img{
    width: 11px;
    height: 11px;
    margin-right: 4px;
}

#percent p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    margin: 0;
    color: var(--textMuted);
}

@media (min-width: 1024px) {
    
    #menuMobile{
        display: none;
    }
}